*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #fff;
}
::-webkit-scrollbar{
    width: 15px;
}::-webkit-scrollbar-thumb{
    background: black;
}

html{
    overflow-y: scroll;
    scrollbar-color: white rgb(138, 135, 135);
    
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 50px;
    z-index: 100000;
}

header.sticky{
    padding: 5px 100px;
    background: #2c3e50;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    Letter-spacing: 2px;
    transition: 0.6s;
}
/* 
.logo img{
    float: left;
    width: 4em;
    height: auto;
    transition: 0.6s;
    
   
} */

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
    
}

header ul li a {
    position: relative;
    margin: 15px 15px;
    text-decoration: none;
    color:#fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;
    
}

.mycontainer{
    width: 100%;
    height: 100%;
}


.banner {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/1.jpg);
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100vh;
}

.banner_aboutme {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/3.jpg);
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100vh;
}

.banner_myprojects {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/4.jpg);
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100vh;
}

.banner_askme{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/2.jpg);
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100vh;
}

header.sticky .logo,
header.sticky ul li a{
    color: #fff;
}

header.sticky ul li a:hover{
    background-color: #fff;
    color: #000;
}

header.sticky ul li.active a{
    background-color: #fff;
    color: #000;
}

.rounded {
    border-radius: 0.5rem !important;
}

.headertitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detailproject{
    position: absolute;
}


ul{
    /* float: right; */
    /* list-style-type: none; */
    margin-top: 25px;
}

/* ul li{
    display: inline-block;
} */

ul li a{
    text-decoration: none;
     /* color: #000; */
    padding: 2px 10px;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}



.cover-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.col-12{
    margin-top: 100px;
}

.mt-20{
    margin-top: 20px;

}

.mb-20{
    
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.pb-35{
    padding-bottom: 35px;
}

.mt-35{
    margin-top: 35px;
}

.mt-30{
    margin-top: 30px;
}

.section-padding{
    padding: 100px 100px;
}

h1, h2, h3, h4{
    font-family: 'lato', sans-serif;
    color: #151515;
    font-weight: 700;
}

p{
    line-height: 1.6;
    color: #777;
}

span, a{
    display: inline-block;
}

/* section title css*/

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    
}

.section p{
    background-color: #1957f3;
    color: #fff;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 12px;
    letter-spacing: 1px;
}

.section h3{
    position: relative;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1.14;
    letter-spacing: 1.4px;
    padding-bottom: 13px;
}

.section h3:after{
    content: '';
    position: absolute;
    display: block;
    height: 30px;
    width: 2px;
    bottom: -30px;
    left: 50%;
    background-color: #1957f3;
    transform: translate(-50%, 0);
}


.col-md-6 .part_photo{
    margin-bottom: 90px;
    }
    
.col-md-6 .part_text{
    margin-bottom: 30px;
    }

/* button css */
.btn{
    background-color: #1957f3;
    border: 2px solid #1957f3;
    padding: 15px 20px;
    box-shadow: inset 0 0 0 0 #fff;
    letter-spacing: 1px;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
}

.btn:hover{
    box-shadow: inset 12em 0 0 0 #fff;
    color: #1957f3;
}
/* 
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/1.jpg);
    height: 100vh;

    background-size: cover;
    background-position: center;
    
} */

.banner .caption h4{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    
}

.banner .caption h2{
    color: #fff;
    font-size: 70px;
    letter-spacing: -1px;
    
}

.banner .caption p{
    color: #fff;
    font-size: 17px;
    line-height: 32px;
    opacity: 0.7;
    
}

.banner .caption .social_icon a{
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-size: 16px;
    transition: 0.5s ease;
}

.banner .caption .social_icon a:hover{
    color: #1957f3;
    
   
}

.social_icon a{
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-size: 16px;
    transition: 0.5s ease;
}
.social_icon a:hover{
    color: #1957f3;
    
   
}


/* about section css */
.about .part_text h4{
    font-size: 24px;
    
}
.about .part_text p{
    border-bottom: 1px solid #f1f1f1;
    
}

.about .part_text .info li{
    width: 47%;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 18px;
} 

/* About me section css*/

.about_me{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/3.jpg);
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100vh;
}

.about_me h2{
    color: #fff;
    font-size: 52px;
    font-weight: 800;
}

/* My projects section css*/
.my_projects{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/4.jpg);
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100vh;
}

.my_projects h2{
    color: #fff;
    font-size: 52px;
    font-weight: 800;
}

#ask_me{
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
}

#ask_me .title{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color: #5543ca;
    background: linear-gradient(to right, #f4524d, #5543ca 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-form .form-field{
    position: relative;
    margin: 32px 0;
} 
.contact-form .input-text{
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-sze: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.empty + .label{
    transform: translateY(-24px);
}

.contact-form .input-text:focus{
    outline: none;
}

.contact-form .label{
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
}
.contact-form .submit-btn{
    display: inline-block; 
    background-image: linear-gradient(125deg, #a72879, #064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

.background_glass {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right top, hsl(169, 66%, 64%), #ceeef3);
    display: flex;
    align-items: center;
    justify-content: center;

    background-attachment: fixed;
    position: relative;
  
}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(233, 227, 235, 0.7),
      rgba(146, 145, 150, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(233, 54, 173, 0.8),
    rgba(28, 92, 230, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

/* Ask_me section css*/
.ask_me{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/2.jpg);
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100vh;
}

.ask_me h2{
    color: #fff;
    font-size: 52px;
    font-weight: 800;
}

.btn-social {
    display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 0.125rem solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
  }

  .btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
  }

/* footer section css*/

.footer h4{
    color: #fff;
}

.footer p{
    color: #fff;
    font-family: "Lato";
}


.footer {
    color: #fff;
    
  }

  .infolcs {
    background-color: #2c3e50;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .copyright {
    background-color: #1a252f;
}

#table-wrapper {
    height: 400px;
    width: 700px;
   padding: 0px;
   margin: 0px auto 0px auto;
   overflow: auto;
}

table {
   width: 100%;
   max-height: 50px;
   padding: 15px;
   text-align: left;
   border-collapse: collapse;
    z-index: 2;
    border-spacing: 0;
 border-radius: 12px 12px 12px 12px;
 overflow: hidden;
    
}

td , th{
    padding: 15px 20px;
    text-align: left;
    
   
}
th{
    background: linear-gradient(
    to right bottom,rgba(233, 54, 173, 0.8),
    rgba(28, 92, 230, 0.3)
  );
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
   
}
tr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
   }
tr:nth-child(even){
    background-color: #eeeeee;
}

table > tbody > tr {
   font-size: 14px;
   color: #474747;
   background-color: #E2E2E2;
}
table > tbody > tr:first-child {
   font-size: 16px;
   color: #454545;
   outline: 1px solid #6A6A6A;
   background: linear-gradient(to top, #8e9eab, #eef2f3);
}
table > tbody > tr > th {padding: 5px 10px;}
table > tbody > tr > th:nth-child(1),
table > tbody > tr > th:nth-child(2) {border-right: 1px solid #717171;}
table > tbody > tr > td {padding:2px 5px 2px 10px;}
  



